force-app/main/default/flows/Create_Food_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <dynamicChoiceSets>
        <name>CuisineType4</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cuisine_Type__c</picklistField>
        <picklistObject>Food__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultiPicklistDietry</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dietary__c</picklistField>
        <picklistObject>Food__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpiceLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Spice_Level__c</picklistField>
        <picklistObject>Food__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Food Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Food Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Food_Record</name>
        <label>Create Food Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Available__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chef__c</field>
            <value>
                <elementReference>Chef.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuisine_Type__c</field>
            <value>
                <elementReference>Cuisine_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary__c</field>
            <value>
                <elementReference>Dietary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Food_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preparation_Time__c</field>
            <value>
                <elementReference>Preparation_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Servings__c</field>
            <value>
                <elementReference>Servings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spice_Level__c</field>
            <value>
                <elementReference>Spice_Level</elementReference>
            </value>
        </inputAssignments>
        <object>Food__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Create_New_Food</name>
        <label>Create New Food</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Food_Record</targetReference>
        </connector>
        <fields>
            <name>Food_Name</name>
            <dataType>String</dataType>
            <fieldText>Food Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Preparation_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Preparation Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Servings</name>
            <dataType>Number</dataType>
            <fieldText>Servings</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Cuisine_Type</name>
            <choiceReferences>CuisineType4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuisine Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dietary</name>
            <choiceReferences>MultiPicklistDietry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dietary</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Price</name>
            <dataType>Currency</dataType>
            <fieldText>Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Chef</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Chef__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Chef</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Food__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Available</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Available</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Spice_Level</name>
            <choiceReferences>SpiceLevel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Spice Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_New_Food</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
