force-app/main/default/flows/Customer_Login_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>Dairy_Free</name>
        <choiceText>Dairy Free</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dairy Free</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email_and_SMS</name>
        <choiceText>Email and SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email and SMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gluten_Free</name>
        <choiceText>Gluten-Free</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gluten-Free</stringValue>
        </value>
    </choices>
    <choices>
        <name>Halal</name>
        <choiceText>Halal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Halal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kosher</name>
        <choiceText>Kosher</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kosher</stringValue>
        </value>
    </choices>
    <choices>
        <name>SMS</name>
        <choiceText>SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vegan</name>
        <choiceText>Vegan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vegan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vegetarian</name>
        <choiceText>Vegetarian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vegetarian</stringValue>
        </value>
    </choices>
    <description>Guides the user through the login or registration process, capturing user information for registration.</description>
    <environments>Default</environments>
    <interviewLabel>Customer Login Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Login Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Customer_Record</name>
        <label>Create Customer Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CVC__c</field>
            <value>
                <elementReference>CVC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card_Expiration_Date__c</field>
            <value>
                <elementReference>Card_Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card_Holder_s_Name__c</field>
            <value>
                <elementReference>Card_Holder_s_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card_Number__c</field>
            <value>
                <elementReference>Card_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Address_Info.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Address_Info.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Preferences__c</field>
            <value>
                <elementReference>Dietary_Preferences</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Customer_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_Preferences__c</field>
            <value>
                <elementReference>Notification_Preferences</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Address_Info.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Address__c</field>
            <value>
                <elementReference>Address_Info.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>Address_Info.postalCode</elementReference>
            </value>
        </inputAssignments>
        <object>CustomerH__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <description>Guides the user through the login or registration process, capturing user information for registration.</description>
        <name>Customer_Login_Screen</name>
        <label>Customer Login Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Customer_Record</targetReference>
        </connector>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Dietary_Preferences</name>
            <choiceReferences>Dairy_Free</choiceReferences>
            <choiceReferences>Gluten_Free</choiceReferences>
            <choiceReferences>Vegetarian</choiceReferences>
            <choiceReferences>Vegan</choiceReferences>
            <choiceReferences>Halal</choiceReferences>
            <choiceReferences>Kosher</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Select your dietary preferences</stringValue>
            </defaultValue>
            <fieldText>Dietary Preferences</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notification_Preferences</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>SMS</choiceReferences>
            <choiceReferences>Email_and_SMS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Notification Preferences</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Info</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Payment_Information</name>
            <fieldText>Payment Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Card_Holder_s_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Card Holder&apos;s Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Card_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Card Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Card_Expiration_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Card Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CVC</name>
                    <dataType>Number</dataType>
                    <fieldText>CVC</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageForCustomerLogin</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 16px; color: rgb(212, 52, 52);&quot;&gt;An error occurred while creating your account.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 16px; color: rgb(212, 52, 52);&quot;&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessageForCustomerLogin</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(15, 169, 100); font-size: 16px;&quot;&gt;Your account created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Login_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
